packages:
  yum:
    libpq-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: coffe_shop.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: coffe_shop.settings
    DJANGO_DB_URL: postgresql://coffe_shop:Famon1979.@db-coffe-shopp.c7uq04u0mk6f.us-east-2.rds.amazonaws.com:5432/postgres